@model sepetteYemek.Models.siniflar.kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<h2>Yeni kategori Sayfası</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(s => s.KategoriAd)
    @Html.TextBoxFor(s => s.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="Btn1">Kaydet</button>
    <script>
        $('#Btn1').click(function () {
            alert("kategori başarılı bir şekilde eklendi")
        }
        );
    </script>

</form>

